
<form action="" method="post" id="formularioDos">
    <label for="newPassword">New Password:</label>
    <input type="newPassword" name="newPassword" id="newPassword">
    <input type="submit" value="Reiniciar Contraseña">
</form><br>
<script src="../js/restartPassword.js"></script>