

<h2>Home</h2>
{{#if user}}
<h2>Bienvenido - Welcome</h2>
<h2> {{user.first_name}} </h2>
<button id="terminarCompra"> Terminar Compra </button><br><br><br>
{{/if}}

<div class="containerBuscador">
<select name="ordenar" id="ordenar">
<option value="desc">Ordenar Por Precio</option>
<option value="desc">Descendente</option>
<option value="asc">Ascendente</option>
</select>
<input type="text" id="inputBuscador" placeholder="Buscardor de Producto">
<button id="botonBuscar">Buscar</button>
<input type="number" placeholder="Limit" id='limit'>
<button name="limite" id="limitButton">Limit</button>
</div>
    


<div class="container" id="containerProducts">

</div><br>

<button id="aPrev">Prev</button>
<button id="aNext">Next</button>
{{>footer}}

<script   src="../js/home.JS.js"></script>
