

<h2>Bienvenido!</h2>
<h3>{{user.first_name}}</h3>
<h3>{{user.last_name}}</h3>
<h3>{{user.last_name}}</h3>

<form action="">
    <button type="submit">Desconectarse</button>
</form>


<script src="../static/js/perfil.js"></script>