
<section class="sectionForms">
<div class="divFormProducts ">
    <form id ="formularioProducts"class="formulario" action="">
         <input id="titulo" type="text" placeholder="Titulo Del Producto" required>
        <input id="description" type="text" placeholder="Descripcion">
        <input id="precio" type="number" placeholder="Precio">
        <input id="codigo" type="number" placeholder="Codigo" required>
         <input id="stock" type="number" placeholder="Stock">
         <input type="file" id="thumbnail"  >
         <input type="submit" value="Agregar Producto">
    </form>
 </div>

</main>
{{>footer}}


<script src="../js/realTimeProducts.js"></script>