

*<div class="">
    <form action=""  method="post" id="formRegister">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email">
        <label for="first_name">Nombre:</label>
        <input type="text" name="first_name" id="first_name">
        <label for="last_name">Apellido:</label>
        <input type="text" name="last_name" id="last_name">
        <label for="age">A単os:</label>
        <input type="number" name="age" id="agee">
        <label for="password">Constrase単a</label>
        <input type="password" name="password" id="password">
        <button type="submit" id="enviarRegistro">Registrarse</button>
     </form>
 </div>
 
<section class="divI">
    <form id="nuevo"action="">
<div class="form__group field divI">
    <input id="emailUser"  type="input" class="form__field" placeholder="Email" required="true">
    <label for="Email" class="form__label">Email</label>
      
</div><div class="form__group field divI">
    <input id="passwordUser" type="password" class="form__field" placeholder="Contrase単a" required="true">
    <label for="password" class="form__label">Contrase単a</label>
 </div>
 
<div class="form__group field divI">
    <input id="nameUser"  type="input" class="form__field" placeholder="Nombre" required="true">
    <label for="Nombre" class="form__label">Nombre</label>
      
</div><div class="form__group field divI">
    <input id="secondName" type="input" class="form__field" placeholder="Apellido" required="">
    <label for="Apellido" class="form__label">Apellido</label>
 </div>
 
<div class="form__group field divI">
    <input id="age"  type="input" class="form__field" placeholder="Edad" required="">
    <label for="Age" class="form__label">Edad</label>
      </form>
<button onclick="createAccount()"> Crear Cuenta </button>
</section>

<script src="../js/register.js"></script>
{{>footer}}