
<form action="" method="post" id="formulario">
    <label for="email">Email</label>
    <input type="text" name="email" id="email">
    <label for="password">Contraseña</label>
    <input type="password" name="" id="password">
    <input type="submit" value="Reiniciar Contraseña">
</form><br>
<a href="/">VOLVER </a>
<script src="../static/js/reiniciarContraseña.js"></script>