.centrarElementos {
    display: flex;
}

.navBar {

    display: flex;
    justify-content: space-around;
    border: solid 2px rgb(22, 95, 206);
    border-radius: 15px;
    margin-bottom: 30px;
}

.sectionForms {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.selectForms {
    width: 30%;
    margin-bottom: 10px;
}

.formulario {
    display: flex;
    gap: 7px;
    flex-direction: column;
    width: 40%;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 10px;
    flex-direction: row;

}

li {
    margin: 10px 10px 10px 10px
}

a {
    border: solid 2px black;
    border-radius: 35%;
    margin: 10 10px 5px 10px;
    color: black;
    text-decoration: none;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    transition: all 1s;
}

a:hover {
    color: rgb(32, 81, 172);
    border: solid 2px white;
    text-decoration: underline;
}

.modal {

    display: grid;
    justify-items: center;
    position: fixed;
    align-items: center;
    top: 50px;
    left: 80px;
    width: 50%;
    height: 30%;
    background-color: gray;
    border: 2px solid rgba(48, 106, 214, 0.807)
}

.butModal {
    width: 100px;
    height: 30px;
    border-radius: 15%;
    color: rgb(0, 0, 0);
    background-color: cadetblue;
    border: 2px solid black;
    transition: 2s;
}

.butModal:hover {
    background-color: rgba(48, 106, 214, 0.807)
}

.butModalC:hover {
    background-color: red;
}

.inpDatos {
    margin-top: 50px;
    width: 200px;
    height: 30px;
}

.containerCarts {
    width: 60%;
    height: 80px;
    overflow-y: auto;
    border: 2px solid rgba(48, 106, 214, 0.807);
    ;
}

.containerBuscador {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 100%;

    margin-left: 90px;

}


.boxElement {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 20px;
}

.box {
    margin-right: 20px;
    border: solid 3px rgba(48, 106, 214, 0.807);
    border-radius: 15px;
    padding: 10px;

    width: 330px;
    display: inline-block;
    vertical-align: top;
}

.boxMessages {
    display: grid;
    align-content: center;
    flex-direction: column;
    border: solid 2px rgba(48, 106, 214, 0.807);
    ;
    border-radius: 30px;
    padding: 20px;
    margin-top: 35px;
    width: 60%;
    height: 450px;

}

.windowsMessages {
    height: 400px;
    background-color: white;

    overflow-y: auto;
}

.hidden {
    display: none;
}




footer {
    margin-top: 5%;
    border: 1px solid black;
}