
<nav class="navBar claseFlex">
        <div>
             <p>ECOMMERS</p>
        </div>
   
        <div class="barraLogo">
           <label for="hamb"> 
                <img class="menu-hamburguesa" src="../../storage/documents/barra-de-menus.png" alt="menuHamburguesa">
           </label>
           <input type="checkbox" id="hamb">
               
            <ul class="ulNav claseFlex">
                <li class="liNav">   
                   <a class="btn" href="/home">Home</a>
                </li>
                <li class="liNav">
                  <a class="btn" href="/perfil">Perfil</a>
                </li>
                <li class="liNav">
                  <a class="btn" href="/realTimeProducts" id="addProduct">Add Product</a>
                </li>
            
            </ul>
        </div>
    </nav>