<nav class="navBar">
   <div>
    <p>Logo</p>
    </div>
    <div>
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/">LoginIn</a></li>
        <li><a href="/register">Register</a></li>
    </ul>
    </div>
</nav>