<nav class="navBar">
   <div>
    <p>Logo</p>
    </div>
    <div>
    <ul>
        <li><a href="http://localhost:8080/">Home</a></li>
        <li><a href="http://localhost:8080/chathandlebars">Chat</a></li>
         <li><a href="http://localhost:8080/perfil">Perfil</a></li>
        <li><a href="http://localhost:8080/realTimeProducts" id="addProduct">Add Product</a></li>
    </ul>
    </div>
</nav>
