<!--
<nav class="navBar">
   <div>
    <p>ECOMMERS</p>
    </div>
    <div>
    <ul>
        <li><a class="btn" href="/home">Home</a></li>
        <li><a class="btn" href="/">LogIn</a></li>
        <li><a class="btn" href="/register">Register</a></li>
    </ul>
    </div>
</nav>
-->
<nav class="navBar claseFlex">
        <div>
             <p>ECOMMERS</p>
        </div>
   
        <div class="barraLogo">
           <label for="hamb"> 
                <img class="menu-hamburguesa" src="../../storage/documents/barra-de-menus.png" alt="menuHamburguesa">
           </label>
           <input type="checkbox" id="hamb">
               
            <ul class="ulNav claseFlex">
                <li class="liNav">   
                    <a class="btn" href="/home">Home</a>
                </li>
                <li class="liNav">
                   <a class="btn" href="/">LogIn</a>
                </li>
                <li class="liNav">
                   <a class="btn" href="/register">Register</a>
                </li>
            
            </ul>
        </div>
    </nav>