<nav class="navBar">
   <div>
    <p>ECOMMERS</p>
    </div>
    <div>
    <ul>
        <li><a class="btn" href="/home">Home</a></li>
        <li><a class="btn" href="/">LoginIn</a></li>
        <li><a class="btn" href="/register">Register</a></li>
    </ul>
    </div>
</nav>